page-home {
    
        span b{
            color:green;
        }
    
        b{
            color:green;
        }
    
        u{
            color:green;
        }
    
        
    
        
    }
    

